{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "transform-runtime": {},
        "styled-jsx": { "plugins": ["styled-jsx-plugin-sass"] },
        "class-properties": {}
      }
    ]
  ]
}